/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Bebas-Neuer';
    src: url(./assets/fonts/BebasNeue.woff);
}
  
* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas-Neuer',sans-serif;
    /* color: white; */
}

body {
    background: url('./assets/images/chalkboard.jpg') repeat;
}