USE [master]
GO
/****** Object:  Database [rsmdb]    Script Date: 4/14/2019 5:17:18 PM ******/
CREATE DATABASE [rsmdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rsmdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\rsmdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rsmdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\rsmdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rsmdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rsmdb]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getDishImage]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getDishImage] (@imageId INT)
RETURNS TABLE
AS
RETURN
   SELECT TOP 1 FilePath FROM Image
      WHERE ImageId = @imageId
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[DishId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](300) NULL,
	[Cost] [float] NULL,
	[Weight] [float] NULL,
	[NutritionalValue] [varchar](50) NULL,
	[IsAvailable] [bit] NOT NULL,
	[DishCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Dish_Id] PRIMARY KEY CLUSTERED 
(
	[DishId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishCategory]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishCategory](
	[DishCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DishCategory_Id] PRIMARY KEY CLUSTERED 
(
	[DishCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishImage]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishImage](
	[DishImageId] [int] NOT NULL,
	[ImageId] [int] NOT NULL,
	[DishId] [int] NOT NULL,
 CONSTRAINT [PK_DishImage] PRIMARY KEY CLUSTERED 
(
	[DishImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getDishes]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[getDishes]()
RETURNS TABLE
AS
RETURN
   SELECT        dbo.Dish.DishId, dbo.Dish.Name, dbo.Dish.Description, dbo.Dish.Cost, dbo.Dish.Weight, dbo.Dish.NutritionalValue, dbo.Dish.IsAvailable, dbo.DishImage.DishImageId, dbo.DishImage.ImageId, 
                         dbo.DishCategory.Name AS CatogoryName
FROM            dbo.Dish
INNER JOIN
                         dbo.DishCategory ON dbo.Dish.DishCategoryId = dbo.DishCategory.DishCategoryId
LEFT OUTER JOIN
                         dbo.DishImage ON dbo.Dish.DishId = dbo.DishImage.DishId
where dish.IsAvailable = 1
GO
/****** Object:  Table [dbo].[DishIngredient]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishIngredient](
	[DishIngredientId] [int] IDENTITY(1,1) NOT NULL,
	[IngredientId] [int] NOT NULL,
	[DishId] [int] NOT NULL,
 CONSTRAINT [PK_DishIngredient_Id] PRIMARY KEY CLUSTERED 
(
	[DishIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Birthday] [date] NULL,
	[Telephone] [varchar](50) NULL,
	[PositionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Employee_Id] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[IngredientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ingredient_Id] PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[TableNo] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[GuestName] [varchar](50) NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[WaiterId] [int] NULL,
 CONSTRAINT [PK_Order_Id] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDish]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDish](
	[OrderDishId] [int] IDENTITY(1,1) NOT NULL,
	[IsReady] [bit] NOT NULL,
	[OrderId] [int] NOT NULL,
	[DishId] [int] NOT NULL,
	[CookId] [int] NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_OrderDish_Id] PRIMARY KEY CLUSTERED 
(
	[OrderDishId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus_Id] PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Position_Id] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role_Id] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/14/2019 5:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User_Id] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dish] ON 

INSERT [dbo].[Dish] ([DishId], [Name], [Description], [Cost], [Weight], [NutritionalValue], [IsAvailable], [DishCategoryId]) VALUES (1, N'Chicken Soup', N'This soup will warm your heart.', 20, 200, N'100', 1, 1)
INSERT [dbo].[Dish] ([DishId], [Name], [Description], [Cost], [Weight], [NutritionalValue], [IsAvailable], [DishCategoryId]) VALUES (3, N'Mushroom soup', N'The best soup in town.', 30, 250, N'240', 1, 1)
INSERT [dbo].[Dish] ([DishId], [Name], [Description], [Cost], [Weight], [NutritionalValue], [IsAvailable], [DishCategoryId]) VALUES (4, N'Tomato soup', N'Award-winning mouth-watering soup', 40, 300, N'460', 1, 1)
SET IDENTITY_INSERT [dbo].[Dish] OFF
SET IDENTITY_INSERT [dbo].[DishCategory] ON 

INSERT [dbo].[DishCategory] ([DishCategoryId], [Name]) VALUES (1, N'Soup')
INSERT [dbo].[DishCategory] ([DishCategoryId], [Name]) VALUES (2, N'Salad')
INSERT [dbo].[DishCategory] ([DishCategoryId], [Name]) VALUES (3, N'Pasta')
SET IDENTITY_INSERT [dbo].[DishCategory] OFF
INSERT [dbo].[DishImage] ([DishImageId], [ImageId], [DishId]) VALUES (1, 1, 1)
INSERT [dbo].[DishImage] ([DishImageId], [ImageId], [DishId]) VALUES (2, 2, 3)
INSERT [dbo].[DishImage] ([DishImageId], [ImageId], [DishId]) VALUES (4, 4, 4)
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [Name], [Surname], [Birthday], [Telephone], [PositionId], [UserId]) VALUES (3, N'John', N'Smith', CAST(N'1978-08-09' AS Date), N'78524896242', 1, 1)
INSERT [dbo].[Employee] ([EmployeeId], [Name], [Surname], [Birthday], [Telephone], [PositionId], [UserId]) VALUES (4, N'Robert', N'Black', CAST(N'1985-06-06' AS Date), N'23456783456', 2, 2)
INSERT [dbo].[Employee] ([EmployeeId], [Name], [Surname], [Birthday], [Telephone], [PositionId], [UserId]) VALUES (5, N'Dumbledore', N'', CAST(N'1950-05-05' AS Date), N'32323232323', 3, 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
INSERT [dbo].[Image] ([ImageId], [FilePath]) VALUES (1, N'chicken-soup.jpg')
INSERT [dbo].[Image] ([ImageId], [FilePath]) VALUES (2, N'mushroom-soup.jpg')
INSERT [dbo].[Image] ([ImageId], [FilePath]) VALUES (3, N'no-picture.jpg')
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [TableNo], [Created], [GuestName], [OrderStatusId], [WaiterId]) VALUES (3, 1, CAST(N'2018-08-18T00:00:00.0000000+03:00' AS DateTimeOffset), N'Max', 1, 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDish] ON 

INSERT [dbo].[OrderDish] ([OrderDishId], [IsReady], [OrderId], [DishId], [CookId], [Count]) VALUES (3, 0, 3, 1, 4, 5)
INSERT [dbo].[OrderDish] ([OrderDishId], [IsReady], [OrderId], [DishId], [CookId], [Count]) VALUES (6, 0, 3, 3, NULL, 0)
INSERT [dbo].[OrderDish] ([OrderDishId], [IsReady], [OrderId], [DishId], [CookId], [Count]) VALUES (7, 0, 3, 4, NULL, 0)
SET IDENTITY_INSERT [dbo].[OrderDish] OFF
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([OrderStatusId], [Name]) VALUES (1, N'Pending')
INSERT [dbo].[OrderStatus] ([OrderStatusId], [Name]) VALUES (2, N'IsReady')
INSERT [dbo].[OrderStatus] ([OrderStatusId], [Name]) VALUES (3, N'AwaitingPayment')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [Name]) VALUES (1, N'chief')
INSERT [dbo].[Position] ([PositionId], [Name]) VALUES (2, N'cook')
INSERT [dbo].[Position] ([PositionId], [Name]) VALUES (3, N'waiter')
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'guest')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'admin')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'cook')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Email], [Password], [RoleId]) VALUES (1, N'john@wilkins.com', N'12345678', 1)
INSERT [dbo].[User] ([UserId], [Email], [Password], [RoleId]) VALUES (2, N'mr.black@gmu.com', N'qwerty', 2)
INSERT [dbo].[User] ([UserId], [Email], [Password], [RoleId]) VALUES (3, N'dumbledore@pottermore.com', N'lemondrops', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[OrderDish] ADD  CONSTRAINT [DF_OrderDish_Count]  DEFAULT ((1)) FOR [Count]
GO
ALTER TABLE [dbo].[Dish]  WITH CHECK ADD  CONSTRAINT [FK_Dish_DishCategory_Id] FOREIGN KEY([DishCategoryId])
REFERENCES [dbo].[DishCategory] ([DishCategoryId])
GO
ALTER TABLE [dbo].[Dish] CHECK CONSTRAINT [FK_Dish_DishCategory_Id]
GO
ALTER TABLE [dbo].[DishImage]  WITH CHECK ADD  CONSTRAINT [FK_DishImage_Dish] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dish] ([DishId])
GO
ALTER TABLE [dbo].[DishImage] CHECK CONSTRAINT [FK_DishImage_Dish]
GO
ALTER TABLE [dbo].[DishImage]  WITH CHECK ADD  CONSTRAINT [FK_DishImage_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Image] ([ImageId])
GO
ALTER TABLE [dbo].[DishImage] CHECK CONSTRAINT [FK_DishImage_ImageId]
GO
ALTER TABLE [dbo].[DishIngredient]  WITH CHECK ADD  CONSTRAINT [FK_DishIngredient_Dish_Id] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dish] ([DishId])
GO
ALTER TABLE [dbo].[DishIngredient] CHECK CONSTRAINT [FK_DishIngredient_Dish_Id]
GO
ALTER TABLE [dbo].[DishIngredient]  WITH CHECK ADD  CONSTRAINT [FK_DishIngredient_Ingredient_Id] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([IngredientId])
GO
ALTER TABLE [dbo].[DishIngredient] CHECK CONSTRAINT [FK_DishIngredient_Ingredient_Id]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position_Id] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position_Id]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User_Id] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User_Id]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus_Id] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus_Id]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Waiter_Id] FOREIGN KEY([WaiterId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Waiter_Id]
GO
ALTER TABLE [dbo].[OrderDish]  WITH CHECK ADD  CONSTRAINT [FK_OrderDish_Dish_Id] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dish] ([DishId])
GO
ALTER TABLE [dbo].[OrderDish] CHECK CONSTRAINT [FK_OrderDish_Dish_Id]
GO
ALTER TABLE [dbo].[OrderDish]  WITH CHECK ADD  CONSTRAINT [FK_OrderDish_Order_Id] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDish] CHECK CONSTRAINT [FK_OrderDish_Order_Id]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_Id] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role_Id]
GO
/****** Object:  StoredProcedure [dbo].[addDishToOrder]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[addDishToOrder] (
	@orderId int,
	@dishId int,
	@count int = 1,
	@orderDishId int output
)
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT * FROM OrderDish 
WHERE (OrderId = @orderId) AND (DishId = @dishId))
	BEGIN
	   UPDATE OrderDish set [Count] = @count
	   WHERE (OrderId = @orderId) AND (DishId = @dishId)
	END
ELSE
	BEGIN
	   INSERT INTO [dbo].OrderDish (IsReady, OrderId, DishId)
	   VALUES (0, @orderId, @dishId)
	   SET @orderDishId = SCOPE_IDENTITY()
	   RETURN @orderDishId
	END
END
GO
/****** Object:  StoredProcedure [dbo].[assignCookToDish]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[assignCookToDish] (
	@employeeId int,
	@dishId int,
	@orderId int
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[OrderDish]
	   SET CookId = @employeeId
	 WHERE (OrderId = @orderId)
		AND (DishId = @dishId)
END
GO
/****** Object:  StoredProcedure [dbo].[assignWaiterToOrder]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[assignWaiterToOrder] (
	@waiterId int,
	@orderId int
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[Order]
	   SET WaiterId = @waiterId
	 WHERE (OrderId = @orderId)
END
GO
/****** Object:  StoredProcedure [dbo].[createDish]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[createDish] (
	@name varchar(50),
	@description varchar(300),
	@cost float,
	@weight float,
	@nutritionalValue varchar(50),
	@isAvailable bit,
	@dishCategoryId int,
	@dishId int output
)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO [dbo].Dish (Dish.Name, Dish.Description, Cost, Dish.Weight, 
		NutritionalValue, IsAvailable, DishCategoryId)
	VALUES (@name, @description, @cost, @weight,
		@nutritionalValue, @isAvailable, @dishCategoryId)
	SET @dishId = SCOPE_IDENTITY()
	RETURN @dishId
END
GO
/****** Object:  StoredProcedure [dbo].[createOrder]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[createOrder] (
	@table int,
	@created datetimeoffset(7),
	@guestName varchar(50),
	@orderId int OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO [dbo].[Order] (TableNo, Created, GuestName, OrderStatusId)
	VALUES (@table, @created, @guestName, 1)
	SET @orderId = SCOPE_IDENTITY()
	RETURN @orderId
END
GO
/****** Object:  StoredProcedure [dbo].[deleteDish]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[deleteDish] (
	@dishId int
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[Dish]
	   SET [IsAvailable] = 0
	 WHERE Dish.DishId = @dishId
END
GO
/****** Object:  StoredProcedure [dbo].[getAllDishes]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[getAllDishes]
AS
SELECT Dish.DishId,
	Dish.Name,
	Cost,
	Weight,
	DishImage.ImageId,
	NutritionalValue,
	DishCategory.DishCategoryId as CategoryId,
	DishCategory.Name as CategoryName,
	IsAvailable,
	Description	
FROM Dish
left join DishCategory on 
	Dish.DishCategoryId = DishCategory.DishCategoryId
left outer join DishImage on Dish.DishId = DishImage.DishId
GO
/****** Object:  StoredProcedure [dbo].[getAvailableDishes]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAvailableDishes]
AS
SELECT Dish.DishId,
	Dish.Name,
	Cost,
	Weight,
	DishImage.ImageId,
	NutritionalValue,
	DishCategory.Name as Category,
	Description	
FROM Dish
left join DishCategory on 
	Dish.DishCategoryId = DishCategory.DishCategoryId
left outer join DishImage on Dish.DishId = DishImage.DishId
where Dish.IsAvailable = 1
GO
/****** Object:  StoredProcedure [dbo].[getCategories]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[getCategories]
AS
SELECT [DishCategoryId] as Id
      ,[Name]
  FROM [rsmdb].[dbo].[DishCategory]
GO
/****** Object:  StoredProcedure [dbo].[getEmployees]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getEmployees]
AS
SELECT EmployeeId,
	   Employee.Name, 
	   Surname,
	   Birthday,
	   Telephone,
	   Position.PositionId,
	   Position.Name as Position
FROM Employee
INNER JOIN Position ON
Employee.PositionId = Position.PositionId
GO
/****** Object:  StoredProcedure [dbo].[getImagePath]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getImagePath] @imageId INT
AS
	SELECT FilePath FROM Image
	WHERE Image.ImageId = @imageId
GO
/****** Object:  StoredProcedure [dbo].[getOrder]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[getOrder] (
	@orderId int
)
AS
SELECT OrderId,
	   TableNo,
	   WaiterId,
	   Created,
	   GuestName,
	   OrderStatus.OrderStatusId as StatusId,
	   OrderStatus.Name as Status
FROM [Order]
LEFT OUTER JOIN OrderStatus ON
[Order].OrderStatusId = OrderStatus.OrderStatusId
WHERE OrderId = @orderId
GO
/****** Object:  StoredProcedure [dbo].[getOrderDishes]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getOrderDishes] (
	@orderId int
)
AS
SELECT 
	Dish.DishId,
	Dish.Name,
	Cost,
	Weight,
	DishImage.ImageId,
	NutritionalValue,
	DishCategory.Name as Category,
	Description,
	IsReady,
	CookId,
	[Count]	 
FROM OrderDish
INNER JOIN Dish ON
	OrderDish.DishId = Dish.DishId
LEFT JOIN DishCategory on 
	Dish.DishCategoryId = DishCategory.DishCategoryId
LEFT OUTER JOIN DishImage on Dish.DishId = DishImage.DishId
WHERE (OrderId = @orderId) AND (OrderDish.[Count] > 0)
GO
/****** Object:  StoredProcedure [dbo].[getOrders]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getOrders]
AS
SELECT OrderId,
	   TableNo,
	   WaiterId,
	   Created,
	   GuestName,
	   OrderStatus.OrderStatusId as StatusId,
	   OrderStatus.Name as Status
FROM [Order]
LEFT OUTER JOIN OrderStatus ON
[Order].OrderStatusId = OrderStatus.OrderStatusId
GO
/****** Object:  StoredProcedure [dbo].[updateDish]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[updateDish] (
	@dishId int,
	@name varchar(50),
	@description varchar(300),
	@cost float,
	@weight float,
	@nutritionalValue varchar(50),
	@isAvailable bit,
	@dishCategoryId int
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[Dish]
	   SET [Name] = @name,
		   [Description] = @description,
		   [Cost] = @cost,
		   [Weight] = @weight,
		   [NutritionalValue] = @nutritionalValue,
		   [IsAvailable] = @isAvailable,
		   [DishCategoryId] = @dishCategoryId
	 WHERE Dish.DishId = @dishId
END
GO
/****** Object:  StoredProcedure [dbo].[updateDishName]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[updateDishName] (
	@dishId int,
	@name varchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[Dish]
	   SET [Name] = @name
	WHERE Dish.DishId = @dishId
END
GO
/****** Object:  StoredProcedure [dbo].[updateDishStatus]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[updateDishStatus] (
	@dishId int,
	@orderId int,
	@isReady bit
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[OrderDish]
	   SET IsReady = @isReady
	 WHERE (OrderDish.DishId = @dishId)
		AND (OrderDish.OrderId = @orderId)
END
GO
/****** Object:  StoredProcedure [dbo].[updateOrder]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[updateOrder] (
	@orderId int,
	@table int,
	@guestName varchar(50),
	@waiterId int,
	@statusId int
)
AS
BEGIN
	UPDATE [dbo].[Order]
	   SET OrderStatusId = IsNull(@statusId, OrderStatusId),
		   TableNo = IsNull(@table, TableNo),
		   GuestName = IsNull(@guestName, GuestName),
		   WaiterId = IsNull( @waiterId, WaiterId)
	 WHERE (OrderId = @orderId)
END
GO
/****** Object:  StoredProcedure [dbo].[updateOrderStatus]    Script Date: 4/14/2019 5:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[updateOrderStatus] (
	@statusId int,
	@orderId int
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[Order]
	   SET OrderStatusId = @statusId
	 WHERE (OrderId = @orderId)
END
GO
USE [master]
GO
