<app-header></app-header>

<div class="dish-list">
  <div *ngFor="let dish of dishes" [ngClass]="{'opacity': !dish.isAvaliable}" class="dish" (click)="chooseDish(dish)">
    <h3>{{ dish.name }}</h3>
    <div class="dish-info">
      <div>
        <div class="cost">{{ dish.cost }} $</div>
        <div class="weight">{{ dish.weight }} ml</div>
        <div *ngIf="dish.nutritionalValue" class="nutritionalValue">
          {{ dish.nutritionalValue }} calories
        </div>
      </div>
      <img alt="dish" src="{{ getImageUrl(dish.imageId) }}"
          onerror="this.src='./assets/images/dishes/no-picture.jpg'">
    </div>
    <p class="description">{{ dish.description }}</p>
    <div [ngClass]="{'check-mark': dish.isChoosed}"></div>
  </div>
</div>

<button *ngIf="choosedDishes.length > 0" class="order-button" (click)="createOrder()">Order</button>