<app-header></app-header>

<div class="d-flex justify-content-center mb-3">
  <clb-autocomplete
    (selectionChange)="onDishSelect($event)"
    [items]="dishOptionsCache"
    label="Search in menu">
  </clb-autocomplete>
</div>
<section class="d-flex justify-content-center align-items-center flex-column">

  <div class="button-group">
      <button name="create" (click)="chooseOperation($event)">Create</button>
      <button name="update" (click)="chooseOperation($event)">Update</button>
      <button name="delete" (click)="chooseOperation($event)">Delete</button>
  </div>

  <div class="create-div col-md-10">
    <h2 class="text-center">{{ operationName }} Dish</h2>

    <form class="editing-form" (submit)="checkEnteredData()">

      <label>
        <span class="label-text">Name</span>
        <input type="text" name="name" [(ngModel)]="editedDish.name" required>
      </label>
      <label *ngIf="operationName !== 'delete'">
        <span class="label-text">Description</span>
        <input type="text" name="description" [(ngModel)]="editedDish.description" required>
      </label>
      <label *ngIf="operationName !== 'delete'">
        <span class="label-text">Cost</span>
        <input type="text" name="cost" [(ngModel)]="editedDish.cost" required>
      </label>
      <label *ngIf="operationName !== 'delete'">
        <span class="label-text">Weight</span>
        <input type="text" name="weight" [(ngModel)]="editedDish.weight" required>
      </label>
      <label *ngIf="operationName !== 'delete'">
        <span class="label-text">Nutritional Value</span>
        <input type="text" name="nutritionalValue" [(ngModel)]="editedDish.nutritionalValue" required>
      </label>
      <label *ngIf="(operationName !== 'delete') && editedDish.category">
        <span class="label-text">Dish Category</span>
        <clb-autocomplete
          name="dishCategory"
          [(ngModel)]="editedDish.category.id"
          [items]="categoryOptionsCache">
        </clb-autocomplete>
      </label>
      <label *ngIf="operationName !== 'delete'">
        <span class="label-text">DishImage</span>
        <input type="file" name="dishImage" [(ngModel)]="editedDish.dishImage" accept=".jpg" (change)="fileChange($event)">
      </label>
      <label class="checkbox" *ngIf="operationName !== 'delete'">
        <input type="checkbox" name="isAvailable" [(ngModel)]="isAvailable" required>
        <span class="label-text">Is Available</span>
      </label>

      <div class="error-message" [ngClass]="{'visibility': incorrectData}">Please ensure that you enter data correctly.</div>
      <div class="text-center">
        <button type="submit" name="logIn">Submit</button>
      </div>

    </form>

    <!-- <div class="cabbage"></div>
    <div class="beans"></div> -->
  </div>
</section>